# Ignorar diretório de conteúdos originais pesados
content/

# Ignorar pastas de desenvolvimento e automações internas
extracted/
scripts/
docs/
scratch/

# Ignorar arquivos temporários e do sistema
.DS_Store
Thumbs.db
*.log


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
